.product-quantity {
    text-align: center;
}
.product-quantity button {
    height: 30px;
    width: 30px;
    background-color: black;
    border: none;
    color:white;
    cursor: pointer;
}
.product-quantity button:hover {
    background-color: grey;
}
.product-quantity input {
    height: 30px;
    text-align: center;
}
.product-quantity button:disabled  {
    background-color: #ccc;
}